#titulo {
  font-size: 130%;
  padding-right: 20px;
}

#rutas-rep {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 95%;
}

#viajes-rep {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 95%;
}

.map-container {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.map-frame {
  border: 2px solid lightblue;
  height: 99%;
}

#map {
  height: 100%;
  zoom: 99%;
  font-size: 70%;
  background-color: lightblue;
}
